body{
  background: url("../images/bg.jpg") repeat top left;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 13px;
}
@font-face {
  font-family: 'HelveticaNeueBdCn';
  src: url('../fonts/helveticaneueltstd-bdcn-webfont.eot');
  src: url('../fonts/helveticaneueltstd-bdcn-webfont.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/helveticaneueltstd-bdcn-webfont.woff') format('woff'), 
    url('../fonts/helveticaneueltstd-bdcn-webfont.ttf') format('truetype'), 
    url('../fonts/helveticaneueltstd-bdcn-webfont.svg#HelveticaNeueBdCn') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCondensed';
  src: url('../fonts/helveticaneueltstd-cn-webfont.eot');
  src: url('../fonts/helveticaneueltstd-cn-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaneueltstd-cn-webfont.woff') format('woff'), 
    url('../fonts/helveticaneueltstd-cn-webfont.ttf') format('truetype'), 
    url('../fonts/helveticaneueltstd-cn-webfont.svg#HelveticaNeueCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLTPro-MdCn';
  src: url('../fonts/HelveticaNeueLTPro-MdCn.eot');
  src: url('../fonts/HelveticaNeueLTPro-MdCn.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/HelveticaNeueLTPro-MdCn.woff') format('woff'), 
    url('../fonts/HelveticaNeueLTPro-MdCn.ttf') format('truetype'), 
    url('../fonts/HelveticaNeueLTPro-MdCn.svg#HelveticaNeueLTPro-MdCn') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas';
  src: url('../fonts/BEBAS___-webfont.eot');
  src: url('../fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BEBAS___-webfont.woff') format('woff'), 
    url('../fonts/BEBAS___-webfont.ttf') format('truetype'), 
    url('../fonts/BEBAS___-webfont.svg#HelveticaNeueCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active{
  box-shadow: none;
}

/*------------------------------ HEADER ---------------------------------*/
#zone-branding{
  background: #FFF;
  box-shadow: 0 1px 4px #BBB;
  -moz-box-shadow: 0 1px 4px #BBB;
  -webkit-box-shadow: 0 1px 4px #BBB;
  clear: both;
}
#region-branding{
  margin-top: 0;
  padding: 10px 0;
}
.region-branding-inner{
  padding: 0 0 0 30px;
}
.branding-data{
  float: left;
}
#block-menu-menu-user-menu,
#block-views-shopping-cart-block,
#block-views-exp-display-products-page{
  float: right;
  margin-top: 10px;
  font-family: 'HelveticaNeueCondensed';
}
/* User Menu */
#block-menu-menu-user-menu ul.menu li{
  padding:0;
  margin: 6px 0;
}
#block-menu-menu-user-menu ul.menu li a{
  border-right: 1px solid #232323;
  color: #232323;
  line-height: 14px;
  padding: 0 13px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  text-transform: uppercase;
  font-family: 'HelveticaNeueCondensed';
  font-size: 15px;
}
/* My Cart*/
.block-shopping-cart-block .content{
  background: none;
  margin: 0;
  padding: 0;
}
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary .line-item-quantity{
  color: #232323;
  text-transform: uppercase;
  font-family: 'HelveticaNeueCondensed';
  font-size: 15px;
}
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary .line-item-total{
  color: #232323;
  padding-right: 6px;
  font-family: 'HelveticaNeueBdCn';
  font-size: 15px;
}
/* Checkout Button */
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary ul.links{
  background: none transparent;
  padding: 0;
}
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary ul.links li a{
  background: url("../images/arrow-icon.png") no-repeat scroll 89px center;
  border-left: 1px solid #232323;
  color: #232323;
  font-size: 14px;
  font-weight: normal;
  font-family: 'HelveticaNeueCondensed';
  font-size: 15px;
  line-height: 14px;
  padding-left: 10px;
  padding-right: 16px;
  text-transform: uppercase;
}
/* Search Product */
#block-views-exp-display-products-page{
  clear: right;
  margin-top: 0;
}
#block-views-exp-display-products-page .views-exposed-widgets{
  margin-right: 0 !important;
}
#block-views-exp-display-products-page .form-text{
  border-radius: 0;
  background: #FFF;
  height: 32px;
}
/* Social Links */
#block-boxes-social-links{
  float: right;
  margin-right: 10px;
  margin-top: 15px;
}
.facebook, .facebook-hover, .twitter, .twitter-hover, .blog, .blog-hover{
  background: url("../images/social-icon.png") no-repeat;
  text-indent: -9999px;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 2px;
}
.facebook{
  background-position: 0 -1px ;
}
.facebook:hover{
  background-position: -1px -53px ;
}
.twitter{
  background-position: -51px -1px ;
}
.twitter:hover{
  background-position: -52px -53px ;
}
.blog{
  background-position: -101px -1px ;
}
.blog:hover{
  background-position: -100px -53px ;
}


/*------------------------------- MENU --------------------------------*/
ul#superfish-1{
  margin: 0;
  padding: 30px 0;
}
ul#superfish-1 > li{
  margin: 0;
  padding-bottom: 5px;
}
/* Menu level 1 */
ul#superfish-1 > li > a{
  background: transparent;
  border: none;
  border-right: 1px dotted #e3e3e3;
  color: #141414;
  text-transform: uppercase;
  padding: 12px 18px;
  font-family: 'Bebas';
  font-size: 19px;
}
ul#superfish-1 > li.last > a{
  border-right: none;
}
ul#superfish-1 > li > a.menuparent{
  padding: 12px 35px 12px 18px;
}
ul#superfish-1 > li > a:hover > .sf-sub-indicator,
ul#superfish-1 > li > a:focus > .sf-sub-indicator,
ul#superfish-1 > li > a > .sf-sub-indicator{
  background-position: -50px 0;
}
.sf-sub-indicator{
  background: url("../images/arrow-icon.png") no-repeat;
}
ul#superfish-1 > li.active-trail{
  border-bottom: 3px solid #141414;
}
/* Menu level 2 */
ul#superfish-1 li ul{
  background: #141414;
  box-shadow: none;
  border-radius: 0;
  top: 48px;
}
ul#superfish-1 li ul li{
  padding: 10px;
}
ul#superfish-1 li ul li a{
  color: #FFF;
  font-family: Georgia, "Times New Roman", serif;
}

/*------------------------------ HEADER -------------------------------*/


/*------------------------------ PREFACE -------------------------------*/
.zone-preface{
 background: transparent; 
}

/*------------------------------ CONTENT -------------------------------*/
#region-content{
  background: #FFF;
  box-shadow: 0 1px 4px #BBB;
  -moz-box-shadow: 0 1px 4px #BBB;
  -webkit-box-shadow: 0 1px 4px #BBB;
}
h1#page-title{
  color: #2c2926;
  font-size: 24px;
  font-family: 'HelveticaNeueLTPro-MdCn';
  font-weight: normal;
}
.not-front .zone-content-wrapper .zone-content .region-content-inner{
  padding: 20px;
}
.breadcrumb{
  background: transparent;
  border: none;
  color: #474747;
  border-bottom: 1px solid #f4f4f4;
  border-radius: 0;
  margin: 0 0 35px;
  padding: 13px 15px;
}
.breadcrumb a{
  color: #b3b3b3;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 12px;
  font-weight: normal;
}

/*----------------------------- POSTSCRIPT ----------------------------*/
#zone-postscript{
  margin: 0 auto;
}
#region-postscript-first{
  box-shadow: 0 1px 4px #BBB;
  -moz-box-shadow: 0 1px 4px #BBB;
  -webkit-box-shadow: 0 1px 4px #BBB;
}
#region-postscript-second{
  background: #2c2926;
  color: #FFF;
  margin-bottom: 0;
  box-shadow: 0 1px 4px #BBB;
  -moz-box-shadow: 0 1px 4px #BBB;
  -webkit-box-shadow: 0 1px 4px #BBB;
}
#block-boxes-free-shipping{
  height: 150px;
  overflow: hidden;
}
#boxes-box-free_shipping{
  padding: 15px 20px;
}
#boxes-box-free_shipping h2,
#boxes-box-free_shipping h3{
  margin-bottom: 5px;
  font-family: 'HelveticaNeueLTPro-MdCn';
  font-weight: normal;
}
#boxes-box-free_shipping h2{
  font-size: 26px;
}
#boxes-box-free_shipping h3{
  font-size: 14px;
}
#boxes-box-free_shipping p{
  opacity: 0.56;
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
}

/*----------------------------- FOOTER ------------------------------*/
.zone-footer-wrapper{
  padding-bottom: 0;
}
.section-footer{
  background: transparent;
}
#zone-footer{
  background: #FFF;
  box-shadow: 0 1px 4px #BBB;
  -moz-box-shadow: 0 1px 4px #BBB;
  -webkit-box-shadow: 0 1px 4px #BBB;
  padding: 30px 0;
  position: relative;
  top: 4px;
}
.region-footer-first-inner{
  padding: 0 26px;
}
.zone-footer2-wrapper{
  background: transparent;
  padding: 0;
}
#zone-footer2{
  background: #F7F7F7;
  bottom: -2px;
  color: #2C2926;
  font-size: 12px;
  position: relative;
  box-shadow: 0 4px 4px #BBB;
  -moz-box-shadow: 0 4px 4px #BBB;
  -webkit-box-shadow: 0 4px 4px #BBB;
}
#zone-footer2 p{
  margin: 20px 0;
  text-align: center;
  color: #2c2926;
  font-size: 12px;
}
/* Footer First */
#zone-footer .block p{
  color: #878584;
}
#zone-footer h2.block-title,
#block-menu-menu-footer-navigation ul.menu li span{
  font-size: 16px;
  color: #2c2926;
  font-family: 'HelveticaNeueLTPro-MdCn';
  font-weight: normal;
  text-transform: uppercase;
  padding-bottom: 7px;
  border-bottom: 1px dashed #e6e6e6;
  margin-bottom: 13px;
  display: block;
}
#block-menu-menu-footer-navigation ul.menu li ul.menu li a,
#block-views-shop-category-block .views-row a{
  font-family: Georgia, "Times New Roman", serif;
  color: #878584;
}
#block-views-shop-category-block{
  margin-right: 20px;
}
#block-boxes-subscribe-newsletter{
  margin-right: 10px;
}
#block-boxes-subscribe-newsletter h2.block-title{
  border: none;
  margin-bottom: 0;
}
#block-boxes-subscribe-newsletter input[type="text"]{
  background: #FFF;
  border: 1px solid #d8d8d8;
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  height: 32px;
    width: 100%;
}
#block-boxes-subscribe-newsletter input[type="submit"]{
   background: #2c2926;
    border: 0 none;
    border-radius: 0;
    color: #FFF;
    height: 30px;
    margin-top: 2px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    padding: 3px 7px;
}

/*-------------------------------- FRONTPAGE ---------------------------------*/
body.front #region-content{
  box-shadow: none;
  background: transparent;
}
.flexslider{
  border: none;
  border-radius: 0;
  background: transparent;
}
.flexslider .slides > li{
  margin:0;
}
.slider-body{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: url("../images/slider-body-bg.png") repeat left top;
  color: #FFF;
}
.slider-body h2{
  padding: 15px;
  font-family: 'HelveticaNeueLTPro-MdCn';
  font-weight: normal;
  font-size: 30px;
  text-transform: uppercase;
}
.slider-body h2 a{
  color: #FFF;
}
.slider-body .field-name-body{
  opacity: 0.57;
  padding: 20px;
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-size: 15px;
}
/* Feature Products */
#block-views-display-products-block-1 h2.block-title{
  background: #2C2926;
  padding: 15px 30px;
  font-family: 'HelveticaNeueLTPro-MdCn';
  font-size: 21px;
  color: #FFF;
  font-weight: normal;
  text-transform: uppercase;
}
#block-views-display-products-block-1 .view-header{
  position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
}
#block-views-display-products-block-1 .view-header a{
  color: #afaeae;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 13px;
}
#block-views-display-products-block-1 ul.all-products li{
  margin: 0 15px 15px 0;
  background: #FFF;
  box-shadow: 0 1px 4px #BBB;
  -moz-box-shadow: 0 1px 4px #BBB;
  -webkit-box-shadow: 0 1px 4px #BBB;
}
#block-views-display-products-block-1 ul.all-products li .node-product-type{
  border: none;
  margin: 0;
  padding: 0;
}
.front .node-product-type header,
.page-products .view-display-products li header{
  margin: 18px 20px;
  background: none;
}
.front .node-product-type h2{
  height: 35px; 
  line-height: 16px;
}
.front .node-product-type h2 a,
.page-products .view-display-products li header h2 a{
  font-family: 'HelveticaNeueLTPro-MdCn';
  font-size: 16px;
  color: #2c2926;
  font-weight: normal;
  text-transform: uppercase;
  padding: 0;
}


/*--------------------------------- PRODUCTS ---------------------------------*/
.page-products .zone-content-wrapper .zone-content .region-content-inner{
  padding: 0;
}
.page-products #region-content{
  background: transparent;
  box-shadow: none;
}
/* Sidebar */
.page-products #region-sidebar-first{
  background: #2C2926;
  color: #FFF;
  margin-right: 0;
  box-shadow: 0 1px 4px #BBB;
  -moz-box-shadow: 0 1px 4px #BBB;
  -webkit-box-shadow: 0 1px 4px #BBB;
}
.block-search-api-sorts .block-inner{
  float: left;
}
.block-search-api-sorts .block-inner h2.block-title{
  color: #c8c8c8;
  text-transform: uppercase;
  font-family: 'HelveticaNeueLTPro-MdCn';
  margin: 0 6px;
}
.block-search-api-sorts .content ul.search-api-sorts li{
  padding: 5px;
  font-family: 'HelveticaNeueLTPro-MdCn';
}
.block-search-api-sorts .content ul.search-api-sorts li a{
  border-radius: 0;
    border-right: 1px solid;
    padding: 0 10px 0 0;
}
.block-search-api-sorts .content ul.search-api-sorts li.last a{
  border: none;
}
.block-search-api-sorts .content ul.search-api-sorts li span, .block-search-api-sorts .content ul.search-api-sorts li a{
  background: transparent;
  color: #898989;
}
.block-search-api-sorts .content ul.search-api-sorts li .search-api-sort-active{
  color: #555;
  padding-top: 0;
  padding-bottom: 0;
}
.block-search-api-sorts .content ul.search-api-sorts li .search-api-sort-active .sort-asc img, .block-search-api-sorts .content ul.search-api-sorts li .search-api-sort-active .sort-desc img{
  vertical-align: top;
  color: #555;
}
.region-sidebar-first .block-facetapi{
  margin: 0 0 30px;
  border: none;
  padding: 0;
}
.region-sidebar-first .block-facetapi h2{
  background: #161616;
  padding: 10px 15px;
  font-family: 'HelveticaNeueLTPro-MdCn';
  font-weight: normal;
  font-size: 17px;
  text-transform: uppercase;
}
.region-sidebar-first .block-facetapi .block-inner > .content{
  padding: 20px 25px 0;
}
.region-sidebar-first .block-facetapi ul li a{
  font-family: Georgia, "Times New Roman", serif;
  font-size: 13px;
  color: #FFF;
   padding-left: 15px !important;
}
#search-api-ranges-block-slider-view-form input.form-submit{
  display: none;
}
#search-api-ranges-block-slider-view-form #edit-range-from, #search-api-ranges-block-slider-view-form #edit-range-to{
  color: #FFF;
  font-size: 13px !important;
}
.ui-slider-horizontal{
    background: none #FFFFFF;
    border: 1px solid #807F7D;
    height: 5px;
}
.ui-slider-horizontal .ui-slider-handle{
  background: url("../images/slider-handle.png") no-repeat;
  height: 13px;
  width: 13px;
  border: none;
}
/* Product List */
.page-products .view-display-products li.views-row{
  background: #FFF;
  box-shadow: 0 1px 4px #BBB;
  -moz-box-shadow: 0 1px 4px #BBB;
  -webkit-box-shadow: 0 1px 4px #BBB;
  width: 221px;
  margin: 6px;
  padding: 0;
}
.page-products .view-display-products li header h2{
  margin: 0;
    padding: 0;
}
.node-product-type .field-type-commerce-product-reference,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart{
  background: none;
  padding: 0;
}
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .form-submit{
  margin-top: 10px;
  background: none #2c2926;
  text-transform: uppercase;
  border-radius: 0;
  padding: 5px 15px;
  font-family: 'HelveticaNeueLTPro-MdCn';
  font-size: 13px;
  letter-spacing: 0.3px;
}
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .wishlist{
  background: url("../images/wishlist.png") no-repeat left center transparent;
  color: #2c2926;
  padding: 0 0 0 20px;
  font-size: 12px;
  letter-spacing: 0.3px;
  margin-top: 0;
}
.page-products .view-display-products li .content .field-name-commerce-price,
.node-product-type .field-name-commerce-price{
  font-size: 23px;
  font-weight: normal;
  font-family: Georgia, "Times New Roman", serif;
  line-height: 24px;
    margin: 0 0 0 20px;
    float: left;
    color: #2c2926;
}
.page-products .view-display-products li .content .field-name-commerce-price .price_prefix{
  display: block;
}
.node-product-type .field-name-commerce-price p{
  margin: 0;
}
.node-product-type .field-name-field-product{
  float: right;
    margin: 0 20px 20px 0;
    text-align: right;
}
.node-product-type .field-name-body{
  margin: 0 20px;
  font-family: Georgia, "Times New Roman", serif;
  color: #2c2926;
  font-style: italic;
  opacity: 0.57;
}

/*--------------------------------- PRODUCT DETAILS -----------------------------*/
.node-type-hats .zone-content-wrapper .zone-content .region-content-inner{
  padding: 0;
}
.node-product-type .commerce-product-field-field-images .cloud-zoom-container #wrap{
  float: left !important;
}
.cloud-zoom-gallery-thumbs{
  clear: both !important;;
}
.node-product-type .commerce-product-field-field-images .cloud-zoom-container .cloud-zoom-gallery-thumbs .cloud-zoom-gallery{
  margin: 10px 5px;
}
.node-product-type .commerce-product-field-field-images .cloud-zoom-container .cloud-zoom-gallery-thumbs .cloud-zoom-gallery:first-child{
  margin-left: 0;
}

/*--------------------------------- CART -----------------------------------*/
.page-cart #views-form-commerce-cart-form-default table{
  border: none;
}
#views-form-commerce-cart-form-default table th, #commerce-checkout-form-checkout .view-commerce-cart-summary table th, #commerce-checkout-form-review .view-commerce-cart-summary table th, .page-user-orders .view-commerce-line-item-table table th, .view-commerce-backoffice-user-orders table th{
  padding: 10px;
}
.page-checkout .checkout-buttons{
  margin: 0;
}
.page-cart #views-form-commerce-cart-form-default .commerce-line-item-actions input#edit-checkout,
.page-checkout .checkout-buttons input#edit-continue, 
.page-checkout .checkout-buttons input.checkout-continue{
  background: none #2c2926;
  text-transform: uppercase;
  border-radius: 0;
  padding: 5px 15px;
  font-family: 'HelveticaNeueLTPro-MdCn';
  font-size: 13px;
  letter-spacing: 0.3px;
}
.field-name-commerce-order-total .field-items table.commerce-price-formatted-components{
  border: none;
  margin-bottom: 0;
}
#commerce-checkout-form-checkout .view-commerce-cart-summary table.commerce-price-formatted-components td{
  border-bottom: none;
}
